<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Text Similarity</title>
    <style>
      body{
        font-family: sans-serif;
      }
      .button {
        background-color: LightBlue;
        color: Black;
        padding: 10px 10px;
        font-size: 20px;
        border: none;
        cursor: pointer;
        margin: 4px;

      }
    </style>
  </head>
  <body>
    <h2>Are you curious about how similar two text samples are?</h2>
    <form action="/text_compare/" id="textform" method="post">

      <label for="text1">First text sample:</label><br>
      <textarea name="text1" form="textform" placeholder="Enter text here..." rows="8" cols="80">
{% if text1 %}{{text1}}{% endif %}</textarea>

      <br><br>

      <label for="text2">Second text sample:</label><br>
      <textarea name="text2" form="textform" placeholder="Enter text here..." rows="8" cols="80">
{% if text2 %}{{text2}}{% endif %}</textarea>

      <br><br>

      <button type="submit" name="button" class="button">Compare</button>

    </form>

    <br>
    <h2>{% if message %}{{message}}{% endif %}</h2>
    
    {% if score %}
    <h2>The similarity score is {{score}}</h2>
    <body>
      Scores range between 0 and 1. Scores closer to 1 are more similar.
    </body>
    {% endif %}

  </body>
</html>
